.confession-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  color: white;
  font-size: 19px;
  font-family: "Rubik", sans-serif;
  transition: color 0.8s ease, filter 0.8s ease, all 0.8s ease;
  height: 20px;
  max-height: 20px;
  width: auto;
  cursor: default;
  z-index: 1;
  filter: blur(3px);
  margin-bottom: 8px;
}

.confession-wrapper.column {
  flex-direction: column;
  align-items: center;
  width: 900px;
}

.confession-wrapper.column.opened {
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 4px;
  max-height: 40px;
  height: 40px;
  margin-bottom: 12px;
}

.confession-wrapper.alike {
  filter: blur(0.5px);
  color: rgba(244, 244, 244, 0.95);
}

.confession-wrapper.hidden {
  color: rgb(10, 10, 10);
}

.confession-wrapper.opened {
  filter: blur(0);
  justify-content: start;
  flex-shrink: 0;
}

.confession-wrapper:hover {
  filter: blur(0);
}

.confession-span {
  display: flex;
  text-wrap: nowrap;
  transition: color 1s ease;
  transition: max-width 1s ease, max-height 1s ease, opacity 1s ease;
}

.confession-span.extra-info {
  position: relative;
  top: 0;
  pointer-events: auto;
  font-size: 15px;
  z-index: 100;
  max-width: 0;
  opacity: 0;
  overflow: hidden;
  margin-right: 5px;
}

.confession-span.extra-info.linked {
  cursor: pointer;
  text-decoration: underline;
}

.confession-span.extra-info.linked:hover {
  color: #c4c0c0;
}

.confession-span.extra-info.show {
  max-width: 1000px;
  opacity: 1;
}
