.mobile-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: auto;
  min-height: 98vh;
  height: 98vh;
  background-color: black;
  padding: 20px;
  font-size: 16px;
  font-family: "Rubik", sans-serif;
  overflow-y: auto;
}

.mobile-animation-wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 8.5vh;
  max-height: 8.5vh;
  margin-top: 2vh;
  margin-bottom: 5vh;
}

.mobile-confession-animation {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  font-size: 19px;
  max-width: 88%;
  width: 88%;
}

.mobile-big-headline {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.big-headline-small-span {
  font-size: 18px;
}

.big-headline-big-span {
  font-size: 28px;
  font-weight: bold;
  color: white;
  text-shadow: 0 3px 7px rgba(255, 255, 255, 0.6),
    0 4px 12px rgba(255, 255, 255, 0.4), 0 8px 24px rgba(255, 255, 255, 0.3);
}

.mobile-content-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-content: start;
  margin-top: 6vh;
  font-size: 18px;
}

.mobile-input {
  border: 1px solid rgba(255, 255, 255, 0.7);
  background-color: black;
  color: white;
  direction: rtl;
  font-size: 15px;
  margin-top: 2vh;
  border-radius: 6px;
  align-items: start;
  text-align: right;
  padding: 14px 14px;
  font-family: "Rubik", sans-serif;
}

.mobile-input:focus {
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.98);
}

.mobile-gender-buttons-wrapper {
  display: flex;
  flex-direction: column;
  height: 6vh;
  align-items: start;
  justify-content: start;
}

.mobile-gender-toggle-group {
  display: inline-flex;
  margin-top: 1.5vh;
}

.mobile-gender-toggle-button {
  color: white !important;
  border: 1px solid white !important;
  border-radius: 6px !important;
  font-size: 16px !important;
  font-weight: normal !important;
  padding: 0.9vh 17.9vw !important;
  transition: background-color 0.3s ease, color 0.3s ease !important;
  font-family: "Rubik", sans-serif !important;
}

.mobile-gender-toggle-button.Mui-selected {
  background-color: white !important;
  color: black !important;
}

.mobile-gender-toggle-button:hover {
  background-color: #131313 !important;
}

.mobile-gender-toggle-button.selected:hover {
  background-color: #e9e7e7 !important;
}

.mobile-gender-toggle-button.female {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.mobile-gender-toggle-button.male {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.mobile-span {
  margin-top: 4vh;
  font-size: 18px;
  margin-right: 3px;
}

.mobile-span.extend {
  margin-top: 5vh;
}

.post-button-mobile {
  display: flex;
  position: absolute;
  bottom: 0px;
  margin-top: 14% !important;
  color: black !important;
  border: 1px solid white !important;
  border-radius: 7px !important;
  font-family: "Rubik", sans-serif !important;
  background-color: white !important;
  font-size: 18px !important;
  padding: 3px 65px !important;
  width: 99% !important;
  transition: background-color 0.3s ease, color 0.3s ease !important;
  margin-bottom: 40px !important;
}

.post-button-mobile.disabled {
  color: gray !important;
  filter: blur(2px) !important;
}

.post-button-mobile:hover {
  background-color: #e9e7e7 !important;
}